* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px;
    background-color: #13293d;
    color: #fff;
}

h1 {
    font-size: 200%;
}

h2 {
    margin: 2% 0;
    font-size: 250%;
}

nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
}

